
@{
    ViewBag.Title = "Create";
}

<h2>Create New Category</h2>

<form action="/Category/Create" method="POST">
    <div class="mb-2">
        <label>Category Name:</label>
        <input type="text" name="CategoryName" class="form-control"/>
    </div>
    <div >
        <input type="submit" class="btn btn-success mb-1" value="Create Category" />

    </div>
    <div>
        <a href="@Url.Action("List", "Category")" class="btn btn-primary">Cancel</a>
    </div>

</form>
